.barres-wrapper {
  position: absolute;
  bottom: 5px;
  left: 5vh;
  margin-top: 60px;
}

.barre {
  display: inline-block;
  margin: 0 1px;
  vertical-align: bottom;
  text-align: center;
}

.barre span {
  vertical-align: bottom;
}
.header {
  background-color: rgb(31, 30, 30);
  text-align: center;
  vertical-align: center;
  color: white;
  font-size: 15px;
}

.header * {
  display: inline-block;
}

.buttonSort, .buttonSort{
  width: 130px;
  font-size: 14px;
}

.header td {
  text-align: center;
  padding: 0px 10px;
}

.header #root {
  text-align: center;
}
